<!DOCTYPE html>
<html>
  <head>
    <title>Adjective and Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/main.css') }}"  rel="stylesheet"></link>
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-xs-6">
          <form role="form" method='POST'>
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name-box" placeholder="Введіть ім’я..." autofocus required>
            </div>
            <div id="button" class="btn btn-default">Привітатися</div>
          </form>
        </div>

        <div class="col-xs-6">
          <p id="hello-mr"></p>
        </div>
        
      </div>
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
